@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

body {
  height: 100%;
  font-family: 'Changa', sans-serif;
  background-color: #F3F5FC;
}

#root {
  display: grid;
  grid-template-columns: 8% auto;
  padding: 30px 40px 50px;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-encrypt {
  background-color: #0a3871;
  color: #fff;
}

.btn-encrypt:hover {
  background-color: #062b57;
}

.btn-decrypt {
  background-color: #d8dfe8;
  color: #0a3871;
}

.btn-decrypt:hover {
  background-color: #c4cfd9;
  color: #0a3871;
}

.btn-copy {
  color: #0a3871;
  background-color: transparent;
}

.btn-copy:hover {
  background-color: #d8dfe8;
}

.btn-copy:active {
  background-color: rgba(6, 168, 68, 0.25)
}

article.container__input {
  text-align: center;
  margin-top: 50px;
  width: 70%;
}

article.result {
  text-align: center;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  padding: 20px;
  width: auto;
  background-color: #fff;
}

textarea {
  outline: none;
  font-family: 'Changa', sans-serif;
  font-size: 32px;
  resize: none;
  color: #0a3871;
  background-color: transparent;
}

textarea.message_input {
  width: 100%;
  height: 90%;
  padding: 20px;
}

section.container__buttons {
  display: block;
}

section.container__buttons__info {
  text-align: left;
  opacity: 0.7;
}

section.container__buttons__actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.container__buttons__actions .btn {
  width: 100%;
  margin: 0 30px;
  height: 50px;
}

section.container__buttons__actions__result {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.container__buttons__actions__result .btn {
  width: 100%;
  margin: 0 30px;
  height: 50px;
}

section.result__no-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-message {
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.type-message {
  font-size: 16px;
  color: black;
  line-height: 1.3;
}

.container__buttons__info p {
  font-size: 16px;
  color: #495057;
}

section.result__message {
  display: block;
  height: 100%;
}

textarea.message_output {
  width: 100%;
  height: 90%;
  padding: 20px;
  resize: none;
}

/** Media Queries **/
/** For Tablets **/
@media (max-width: 960px) {
  #root {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  article.container__input {
      width: 100%;
      height: 100%;
  }

  article.result {
      width: 100%;
      margin-top: 100px;
      padding-bottom: 65px;
  }

  section.container__buttons__actions .btn {
      width: 100%;
      margin: 0 5px 20px;
      height: 50px;
  }

  .toy-image {
      display: none;
  }

  header {
      height: fit-content;
      display: flex;
      align-items: start;
  }

  section.container__buttons__actions__result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  section.container__buttons__actions__result .btn {
      width: 100%;
      margin: 0 5px 20px;
      height: 50px;
  }

  .message_output {
      height: 100%;
  }
}

/** For Mobile **/
@media (max-width: 470px) {
  #root {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 50px;
  }

  article.container__input {
      width: 100%;
      height: 100%;
  }

  article.result {
      width: 100%;
      margin-top: 180px;
      padding-bottom: 65px;
  }

  section.container__buttons__actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  section.container__buttons__actions .btn {
      width: 100%;
      margin: 0 5px 20px;
      height: 50px;
  }

  .toy-image {
      display: none;
  }

  header {
      height: fit-content;
      display: flex;
      align-items: start;
      margin-top: 50px;
  }

  section.container__buttons__actions__result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  section.container__buttons__actions__result .btn {
      width: 100%;
      margin: 0 5px 20px;
      height: 50px;
  }

  .message_output {
      height: 100%;
  }
}